.carroussel {
  display: flex;
  height: 150px;
  margin: 0 0 100px;
  overflow-x: scroll;
  width: 198px;
}

.button {
  border-top: 1px solid #333;
  bottom: 0;
  height: 40px;
  justify-content: space-around;
  left: 50%;
  position: fixed;
}
