@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  font-size: 62.5%;
  --purple: #41197F;
  --yellow: #FCC436;
  --header-yellow: #FCDC36;
  --gray-border: #B1B1B1;
  --footer-height: 4.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem !important;
  /* max-width: 36rem; */
  font-family: 'Nunito';
  background: #F5F5F5;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none !important;
  color: initial !important;
}

a:visited {
  color: initial;
}